
.botonPrincipalNavBar{
    font-size: 2rem;
    background-color:transparent;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Arial;
	text-decoration:none;
    border: none;
    font-size: 1.5rem;
    font-family: var(--bs-body-font-family);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding-right: 1.5rem;
}

.botonPrincipalNavBar:hover {
    color: black;
}
.botonPrincipalNavBar:active {
	position:relative;
	top:1px;
}

.navbarPersonal{
    background-color: rgb(23, 1, 72);
    border: none;
}