.cardProducto {
    margin: 30px;
}

.contenedorCardsProductos{
    margin-top:120px;
    justify-content: center;
}

.itemDetail{
    width: 288px;
    margin-top: 150px;
}

.espaciadoNav{
    margin-top: 130px;
}

.formCheckout{
    margin-left: 30%;
    margin-bottom: 30%;
    margin-right: 30%;
}

.contadorCarrito{
    position: relative;
    left: 20%;
}