.cardProducto {
    margin: 30px;
    width: 18rem;
    text-align: center;
}

.cardProductoDetail {
    margin: 30px;
    width: 18rem;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}

.cardProductoDetailDark{
    margin: 30px;
    width: 18rem;
    text-align: center;
    color: rgb(2, 2, 84);
    
}

.cardProductoDark{
    margin: 30px;
    width: 18rem;
    text-align: center;
    color: rgb(2, 2, 84);
    
}

.contenedorCardsProductos{
    margin-top:120px;
    justify-content: center;
}

.itemDetail{
    width: 20rem;
    margin-top: 150px;
}

.espaciadoNav{
    margin-top: 130px;
}

.formCheckout{
    margin-left: 30%;
    margin-bottom: 30%;
    margin-right: 30%;
}
 
.contadorCarrito{
    position: relative;
    left: 20%;
}

.cardBodyDark{
    background-color: white;
    text-align: center;
    color: rgb(2, 2, 84);
}

.darkMode{
    color: white;
    background-color: black;
}

.carritoVacio{

    text-align: center;
}

.cartList{

    margin-left: 40%;
    margin-right: 40%;
}

.cartItemDarkColor{
    color: rgb(2, 2, 84); 
}

.colorMensajeCheckout{
    color: red;
}
